/* In your main CSS or tailwind entry file (e.g., src/index.css or src/main.css) */

@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import 'swiper/css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.5s ease;
}